/* h1 {
  color: blue;
  text-decoration: line-through;
  background-color: black;
}
body {
  background-color: black;
  font-style: normal;
  color: white;
}
button {
  background-color: blue;
  color: white;
} */
.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  background-color: aquamarine;
}
